@font-face {
    font-family: "Odin";
    src: url("./assets/OdinRounded-Yd82.ttf");
}

:root{
    --main-color: #FAD02C;
    --secondary-color: #27396D ;
    --text-color: #E9EAEC;
}

body {
    font-family: "Odin";
    background-color: var(--main-color);
    font-size: 28px;
}

.name-container {
    color: #333652;
}

.container {
    padding-top: 10vh;
    padding-right: 10%;
    padding-left: 10%;
}

.card {
    /* font-family: "HUGS"; */
    background-color: var(--secondary-color);
    color: var(--text-color);
    /* border-radius:  */
    transition: all .2s ease;
}

.card:hover {
    cursor: pointer;
    background-color: var(--text-color);
    color: var(--secondary-color);
    border-color: var(--secondary-color);
}

.row {
    margin-bottom: 1rem;
}

.image-avatar {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    object-fit: cover;
    border: 1pt solid var(--text-color);
}
